body
{
	background-image:url("background.jpg");
	margin:0;
	padding:0;
	min-width:525px;
	min-height: 525px;
}

header
{
	float: right;
	width:100%;

}


footer
{

	position:relative;
	float:left;
	width: 100%;
	
	font-style: italic;
}

#wrapper 
{

    height: 100%;
	margin:0 auto;
	width:100%;
	margin:0 auto;
	
    
}

header
{
	position: fixed;
	

}


.s1
{
	position: relative;

	height: 175px;
	width: 545px;
	margin-top: 100px;
	right: 10%;
	left: 40%;
	top: 100%;
	margin-left: -150px;
}

.title1
{
	position: relative;
	margin-left: -100px;
	left: 35%;
	
	top: 32%;
	display:;
}


.image
{
	position: relative;
	left:50%;
	top:10px;
}



.r1
{
 

	position: relative;
	border: 4px solid #4682b4;
	height: 360px;
	width: 550px;
	margin-top: -80px;
	right: 10%;
	left: 40%;
	top: -10%;
	margin-left: -150px;
	

  
}

.r2
{
 

	position: relative;
	border: 4px solid #4682b4;
	height: 510px;
	width: 512px;
	margin-top: -80px;
	right: 10%;
	left: 40%;
	top: -10%;
	margin-left: -150px;
	

  
}


.loginBox
{
  position: relative;
  margin-left: 120px;
  margin-top: 30px;


} 



	
.user-form
{
	right: 25%;
	left: 40%;
	top: 10%;
	
	display: relative;
	width: 352px;
	height: 350px;

	margin-left: -100px;
	color: #000000;
	font-family: "DejaVu Sans", Verdana, sans-serif;
}



.control-group {
	position: relative;
	top:30px;
	left:-330px;
	margin-top: -250px;
	margin-left: 250px;
	}
.submit-form {
	
	background-color: #4682b4;
	color: #4682b4;
	width: 30px;
	height: 10px;
	position: relative;
	bottom: 200px;
	right: -250px;
	
}


.problem 
{
	min-height: 20px;
	margin-right: 90px;
    font-size: 10px;
    width: 100%;
    position: relative;
    top: -10px;
    left: -100px;
}

.checkbox
{
  position: relative;
	margin-right: 20px;
	width: 100px;
	top: 10px;


}

.register
{
	position: relative;
	background-color: #4682b4;
	color: #4682b4;
	width:141px;
	height: 10px;
	
	bottom: 72px;
	right: -780px;
}