body
{
    background-image:url("background.jpg");
    margin:0;
    padding:0;
    min-width:525px;
    min-height:525px;
}



header
{
    float: right;
    width:100%;
   
}


footer
{

    position:relative;
    float:left;
    width: 100%;
    
    font-style: italic;
}

#wrapper 
{

    height: 100%;
    margin:0 auto;
    width:100%;
    margin:0 auto;
    
    
}



header
{
    position: fixed;
    

}

.t1
{
    position: relative;
   
    height: 175px;
    width: 300px;
    margin-top: 10px;
    right:-30%;
    
    top: 0px;
    
}


.image
{
    position: relative;
    left:00%;
    top:80px;
}


.Online
{

    position: relative;
    margin-left: -100px;
    left: 100%;
   
    top: 10%;
     
}






.lo{
    position: relative;
    margin-right: 100px;
    
    background-color:#4682b4;
    color: white;
    border: solid 10px;
    right:-75%;
    top:100px;
    }

.please
{
    position: relative;
    right:-35.5%;
    bottom: -120px;
}

.list1  {
  
    width: 100%;
    padding: 0;
    margin-right: 40px;
    list-style-type: none;
    color: white;
   
    bottom: -100px;
    right: -680px;
    
    
    margin-left: -150px;
   font-size: 16px;
}

.list1 a {
     font-size: 20px;
   
   
    float: left;
    width: 10em;
    text-decoration: none;
    padding: 0.2em 0.6em;
    border-right: 1px solid;
     border-style: solid;
    border-color: white;
    background-color: #4682b4;
    color: white;

    
}

.list1 a:hover {
    
    background-color: #4682b4;
    color: white;
}


.list2 
{
    position: relative;
    left: 25.60%;
    top: 165px;
    
    margin-right:1200px;
    width: auto;

}
.list2 ul
{
list-style-type: none;
    margin-left: -150px;
    bottom: -100px;
}

.list2 li
 {
    font-size: 20px;
}


.list2 a {
     
    width: 100px;
    display: block;
    padding: 0.1em 0.4em;
    border-right: 1px solid;
    border-bottom: 0.5px solid;
    border-style: solid;
    border-color: white;
    background-color: #4682b4;
    color: white;
    width: 150px;
}

.box1
{
    position: relative;
    margin-right: 300px;
   
    border-style: double;
    border-color: #4682b4;
    height: 400px;
    width: 1000px;
    right: -30%;
    
    
     bottom: -50px;
}
.list3
{

position: relative;
top: 30%;
margin-right: 250px;


font-size: 20px;

}

.heading 
{
    position:relative;
    right: 40%;
    left: 05%;
    top:-40%;
    font-size: 40px;
    font-family: sans-serif;
    white-space: nowrap;
}
ul
{
    list-style-type: none;
}

p2
{
    font-size: 50px;
    font-family: fantasy;

}

p3
{


    width: 180px;
   
    padding: 0.1em 0.4em;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-top: 2px;
    border-left: 2px;

    border-style: solid;
    border-color: #4682b4;
    background-color: white;
    color:  #4682b4;
    width: 180px;
    

}