*
{


}


body
{
	background-image:url("background.jpg");
	
}


/* Index page (login page) css */


header
{
	position: fixed;
	

}

.KingstonLogo
{
position: relative;

}


.IndexTittle
{
	font-family: "Arial Black", Gadget, sans-serif;
	
	position: relative;
	left:10%;
	top:%;
	margin-top: -8%;
	margin-left: 10%;

	
	
}

.IndexLogoTittle
{


	position: relative;

	height: 145px;
	width: 700px;
	margin-top: 9%;
	right: 0%;
	left: 32%;

}





.loginInformationBox
{
	
	position: relative;
	border: 4px solid #4682b4;
	height: 360px;
	width: 700px;
	
	right: 0%;
	left: 32.1%;
	margin-top:0%;


  
}

.user-form
{
	
	
	display: relative;
	width: 380px;
	height: 200px;
	
	
	margin-top: 8%;
	margin-left: 4%;
	
	color: #000000;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 18px;
}
.register {
	
	position:relative;
	color: #4682b4;
	width: 200px;
	height: 60px;
	position: relative;

	left:40%;
	margin-top: -6.6%;
	
	
	
	
}



/* all pages basic layout of the lists and box */


.MainLogoTittle
{


    margin-top: 0.2%;
	position: relative;
	margin-right:0%;
	margin-top:8%;
	bottom:40%;
	right: 0%;
	left: 22.3%;
	
}


.KingstonLogoMain
{
margin-right:0%;
position: relative;
margin-bottom:3%;
left:0%;

}

.Tittle
{
	font-family: "Arial Black", Gadget, sans-serif;
	
	position: relative;
	left:10%;
	top:-50%;
	margin-top: -8%;
	margin-left: 10%;
margin-right:0%;
	
	
}

/* main list(dropdown list) position */
.mainList
{
position:relative;
margin-top:0%;
top:10%;
margin-left: 31.9%;
width:650px;
 z-index: 2;
margin-right:0%;


}

/* the settings for the main words for dropdown list profile, job listings...*/

ul{

  text-align: left;
  display: inline;
  margin: 20px;
  padding: 15px 4px 17px 0;
	opacity:1;
   z-index: 2;
   
   
  
}
ul li{
   font-size: 25px;
 font-family: "Arial" ,  sans-serif;
 
  display: inline-block;
  margin-right: 11px;
  position: relative;
  padding: 5px 27px;
  background: white;
  cursor: pointer;
  opacity:1;
   z-index: 2;
  
 
}
/* settings for all the dropdown options */
ul li:hover {
  background:#E0E0E0;
 z-index: 2;
 opacity:1;
 
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 180px;
   z-index: 2;
  box-shadow: none;
  display: none;
  opacity: 1;
  visibility: hidden;

}
ul li ul li { 
  background:#E0E0E0; 
  display: block; 
opacity:1;
  z-index: 2;
  
}
ul li ul li:hover { background:#E0E0E0; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
  opacity:1;
   z-index: 2;
}

/* css for the side list */

.list2 ul
{
 font-family: "Arial" ,  sans-serif;
text-align: left;
left: 10%;
opacity:1;
z-index: 2;
color: Black;

}


.list2 li {
border: 2px solid #E0E0E0;
	width:175px;
   font-size:20px;
  display: block;
  margin-right: -4px;
  position: relative;
left: 22.5%;
  background: white;
  cursor: pointer;
  opacity:1;
   z-index: 2;
    
}

/*   the blue box that we all love */
.MainBox
{

	margin-right:0%;
	position: relative;
	border: 4px solid #4682b4;
	height: 400px;
	width: 750px;
	
	right: 0%;
	left: 32.1%;
	
	margin-top:-8%;
      z-index:1;
}


.lo{
margin-right:0%;
 position: relative;
 margin-bottom: -30%;
   
  background-color:#4682b4;
  color: white;
  
 left:75%;
 bottom:0%;
  }
