
body
{
    background-image:url("background.jpg");
    margin:0;
    padding:0;
    min-width:525px;
    min-height:525px;
}



header
{
    float: right;
    width:100%;
   
}


footer
{

    position:relative;
    float:left;
    width: 100%;
    
    font-style: italic;
}

#wrapper 
{

    height: 100%;
    margin:0 auto;
    width:100%;
    margin:0 auto;
    
    
}



header
{
    position: fixed;
    

}

.t1
{
    position: relative;
   
    height: 175px;
    width: 300px;
    margin-top: 10px;
    right:-30%;
    
    top: 0px;
    
}


.image
{
    position: relative;
    left:00%;
    top:80px;
}


.Online
{

    position: relative;
    margin-left: -100px;
    left: 100%;
   
    top: 10%;
     
}






.lo{
    position: relative;
    margin-right: 100px;
    
    background-color:#4682b4;
    color: white;
    border: solid 10px;
    right:-75%;
    top:100px;
    }




.box1
{
    position: relative;
    margin-right: 300px;
   
    border-style: double;
    border-color: #4682b4;
    height: 440px;
    width: 1000px;
    right: -30%;
    
    
     bottom: -50px;
}


.heading 
{
    position:relative;
    right: 40%;
    left: 05%;
    top:-25%;
    font-size: 40px;
    font-family: sans-serif;
    white-space: nowrap;
}
ul
{
    list-style-type: none;
}

p2
{
    font-size: 50px;
    font-family: fantasy;

}

p3
{


    width: 180px;
   
    padding: 0.1em 0.4em;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-top: 2px;
    border-left: 2px;

    border-style: solid;
    border-color: #4682b4;
    background-color: white;
    color:  #4682b4;
    width: 180px;
    

}


ul {
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}
    ul li {
    display: block;
    
    float: left;
}
li ul {
    display: none;
}
ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    background: #1e7c9a;
    margin-left:1px;
    white-space: nowrap;
}
ul li a:hover { 
    background: #BBBBBB;
}
li:hover ul {
    display: block;
    position: absolute;
    left:0px;

}
li:hover li {
    float: left;
    font-size: 11px;
  
}
li:hover a { 
    background: #3b3b3b; 
}
li:hover li a:hover {
    background: #CCC;
}